PORT = 5000
MONGO_URI: mongodb://localhost:27017/anvexa-demo
JWT_SECRET: your_jwt_secret_key

EMAIL_USER= youremail@gmail.com
EMAIL_PASS= youremail_password

CLOUDINARY_CLOUD_NAME= your_cloudinary_cloud_name
CLOUDINARY_API_KEY= your_cloudinary_api_key
CLOUDINARY_API_SECRET= your_cloudinary_api_secret

RAZORPAY_KEY_ID = signup_data
RAZORPAY_KEY_SECRET = signup_data